body{
	background-color: gray;
}

/*PAGE*/

.main{
	width: 50%;
	margin: auto;
}

/*TOP HEADER AREA*/

.site-top{

/*box attributes*/
	background-color: #2ecc71;
	border-bottom: 6px solid #27ae60;
	height: 200px;
/*places the My Website text*/
	line-height: 350px;
/*text attributes*/
	color:white;
	font-size: 12px;

}

/*NAV AREA*/


.header-nav{
	/*box attributes*/
	background-color: #34495e;
	border-bottom: 6px solid #2c3e50;
	height: 28px;
	text-align: right;

}


.ul-nav{
	margin: 0;
	/*Places the Nav area directly under the top header area*/
}

.ul-nav li,a {
	/*nav area text attributes*/
	color:white;
	font-size: 12px;
	margin-right: 15px;
	text-decoration: none;
	display: inline-block;
	padding: 5px 0px 5px 0px;

}

.nav-link:hover{
	/*HOVER Nav text behavior*/
	
	background-color: #ecf0f1;
	padding: 2px 5px 2px 5px  ;
	color:gray;
	border-radius: 10px;
	border: 2px solid #c0392b;

}

