body{
	background-color: gray;
}

/*PAGE*/

.main{
	width: 50%;
	margin: auto;
}

/*TOP HEADER AREA*/

.site-top{

/*box attributes*/
	background-color: #2ecc71;
	border-bottom: 6px solid #27ae60;
	height: 200px;
	padding-left: 10px;
/*places the My Website text*/
	line-height: 350px;
/*text attributes*/
	color:white;
	font-size: 12px;

}

/*NAV AREA*/


.header-nav{
	/*box attributes*/
	background-color: #34495e;
	border-bottom: 6px solid #2c3e50;
	height: 28px;
	text-align: right;

}


.ul-nav{
	margin: 0;
	/*Places the Nav area directly under the top header area*/
}

.ul-nav li,a {
	/*nav area text attributes*/
	color:white;
	font-size: 12px;
	margin-right: 15px;
	text-decoration: none;
	display: inline-block;
	padding: 5px 0px 5px 0px;

}

.nav-link:hover{
	/*HOVER Nav text behavior*/
	
	background-color: #ecf0f1;
	padding: 2px 5px 2px 5px  ;
	color:gray;
	border-radius: 10px;
	border: 2px solid #c0392b;

}

/*ARTICLE AREA*/

.article-area{
	background-color: rgb(232,236,237);
	overflow:hidden;
	padding: 20px;
	font-size: 12px;

}

.article-link{
	color: orange;
	font-size: 12px;
	margin-right: 5px;
	padding: 0px;
}

.article-title{
	margin-left: 20px;
}


/*Section Title*/

h4{
	text-indent: 10px;
	margin-top: 40px;
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
}


/*TABLE AREA*/

table, td{
	border:1px solid gray;
	font-size: 12px;
	padding: 10px;

}

.header {
	background-color: lightgray;
	font-weight: bold;
	text-align: left;

}

.blue-box{
	background-color: #3498db;
	padding: 1px;
	color: white;
	padding: 5px;
	text-align: center;
}

/*Section Box1*/

.section-box1{
	white-space: pre;
	background-color: lightgrey;
	padding-bottom: 10px;
	text-align: middle;
}

/*SECTION BOX 2*/

img{
display: block;
margin:auto;
margin-top: 10px;
}	


ol{
	padding: 15px;
}

.posted{
	color: gray;
}

/*COMMENTS*/

fieldset {
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-color: gray;
	padding: 0;
	margin: 0;

}

legend {
padding-left: 10px;
padding-right: 10px;
color: gray;
margin-left: 10px;

}

label {
	display: inline-block;
	width: 20%;
	text-align: right;
	height: 25px;
}

input {
	display: inline-block;
	width: 75%;
}

textarea{
	width: 99%;
	height: 100px;
	margin-top: 20px;
}

button{
	border: 0px;
	background-color: #c0392b;
	width: 100%;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 30px;
	color:white;
	font-size: 10px;

}

.gray-box {
	width: 50px;
	height: 50px;
	background-color: rgb(193,193,193);
	text-align: center;
	line-height: 50px;
	color: gray;
	font-size: 8px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;

}


.text-content{
	margin-left: 10px;
	overflow: hidden;
	margin-top: 10px;

}


.comment{
	overflow: hidden;
	margin-bottom: 20px;
	clear: both;
}

.comment p{
	clear:both;
	margin-bottom: 0px;
}

time {
	display: block;
	color: gray;
}

.comment2{
	margin-left: 40px;
	border-left: 1px solid gray;
	padding-left: 10px;
}
